thead {
    background: linear-gradient(160deg,#02ccba,#2f339c);
    color: white;
}

td:hover {
    background: linear-gradient(160deg,#3feedf,#307adb);
    color: #fff;
    transform: scale(1.05)
}

td {
    transition: all 0.3s
}

.react-bootstrap-table table {
    display: block!important;
    width: 100%!important;
    overflow-x: auto!important;
    -webkit-overflow-scrolling: touch!important;
}

/* @media screen and (min-width: 992) {
    thead
    td:hover
    td
    .react-bootstrap-table table {
        display: block!important;
    }
} */

